{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ article.title }} <small>- par {{ article.createdBy }} le {{ article.createdAt|date("m/d/Y") }}</small></h1>
    </div>

    <div>
        {{ article.leading }}
        <hr />
        {{ article.body }}
        <hr />
    </div>

    <div>
        <a href="{{ path('homepage') }}">Retour à la liste</a><br />

        <div>
            {{ form_start(deleteForm, {'action': path('api_delete_article', {'id': article.id}), 'method': 'DELETE'}) }}
            {{ form_errors(deleteForm) }}

            <input type="submit" value="Supprimer" />
            {{ form_end(deleteForm) }}
        </div>
    </div>
{% endblock %}
