{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Créer un article</h1>
    </div>

    <div>
        {{ form_start(form, {'action': path('api_post_article'), 'method': 'POST'}) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.leading) }}
        {{ form_row(form.body) }}
        {{ form_row(form.createdBy) }}

        <input type="submit" />
        {{ form_end(form) }}
    </div>

    <div>
        <a href="{{ path('homepage') }}">Retour à la liste</a><br />
    </div>
{% endblock %}
