{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Liste des articles</h1>
    </div>

    <div>
        <a href="{{ path('create') }}">Ajouter un article</a>
    </div>

    <div>
        {% for article in articles  %}
            <div>
                <p>
                    <b>{{ article.title }}</b> - s
                    <small>{{ article.createdAt|date("m/d/Y") }}</small>
                </p>

                <div>
                    {{ article.leading }}...
                    <a href="{{ path('show', {'slug': article.slug}) }}">lire la suite</a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
